*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
}

/* NAVBAR */
.navbar{
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: rgb(47, 17, 244);
    background-image: linear-gradient(to top,#3350a8 0%,#2031c9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colo:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    gap: 0.5rem;

}


.fa-map{
    margin-right: rem;

}

.navbar__menu{  
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar__item{
    height: 80px;

 }

.navbar__links{
    color: #242bb1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

 }
 .navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

 }

 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(77, 0, 185);
    color:#fff ;
 }
 
 .button:hover{
    background: blue;
    transition: all 0.3s ease;

 }

 .navbar__links:hover{
    color:skyblue;
    transition: all 0.3s ease;

 }


 @media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding:0;
        background-color:transparent;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.1s ease;
        height: 50vh;
        z-index: -1;
        background-color: #fff;
    }

    .navbar__menu.active {
        background:#ffffff;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 90vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #7306d2;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position:absolute ;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    } 

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer ;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .main__container{
        display: flex;
        flex-direction: column !important;
     
    }

    .main__content{
        padding: 3rem 0;

    }

}



/* MAIN - INDEX */
.main{
    background-image: linear-gradient(to top, rgb(25, 0, 165) 0%, rgb(113, 18, 196) 100%);
    height: auto;
}

.main__container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: auto;
    z-index: 1;
    width: 100% ;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content{
    flex: 1;
}

 
.main__content h1 {
    font-size: 4rem;
    line-height: 4rem;
     color: #fff;
    
}



.main__content p{
    margin-top: 2rem;
    font-size: 1.2rem;
    /* font-weight: 700; */
    color: #fff;
    width: 100%;
}



.main__btn {
    font-size: .7rem;
    background-color: transparent;
    padding: 14px 32px;
    border: 1px solid #fff;
    border-radius: 4px;
    color:linear-gradient(to top, #3064e8 0%, #8f0ddf  100%);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition:all 0.35s  ;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #d7d7d8;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#0081de;
    transition: all 0.35s;
    border-radius: 4px;
}
   
.main__btn:hover {
    color: #2424e6;
}

.main__btn:hover:after {
    width: 100%;
}

.main__image--container1{
    
    flex: 1;
   
    padding: 2rem;
    top: 800px; ;
    
}

.picture{
    height: 800px;
    width: 400px;
}

#main__img {
    height: 100%;
    width: 100%;
}

.main__content img {
    height: 700px;
    width: 1500;
}

/* MAIN - STE */
.ste .main__container{
    flex-direction: column ;
    padding:2.5rem ;
    gap: 2.5em; 
}

.ste .main__container .main__header{ 
    width: 100% ;
}

.ste .main__container .main__header h1{ 
    color: #fff ;
    text-transform: capitalize;
    text-align: center;
}

.ste .main__container .main_content{
    width: 100%;
}

.ste .main__container .main_content img{
    width:100% !important ; 
}

/* SERVICES - INDEX */
.services{
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 4rem 1rem;
}



.services h1 {
   
    color: rgb(77, 0, 185);
    margin-bottom: 4rem;
    font-size: 2.5rem;
    

}







.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.services__card1 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Pinky\ \(STVEP\).jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

/* GRADE7 */

.services__card2 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/8-Marinel.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card3 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/9-Rhea.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card4 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Angelito.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card5{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Arielito.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card6 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Carmela.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card7 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Audrey.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card8 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Edgardo.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card9 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Grace (STE).jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card10 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Jeremy.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}
.services__card11 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Katrina.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}
.services__card12 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Kimberly.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}
.services__card13 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Leilani.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}
.services__card14 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Sheila.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}
.services__card15 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Violy.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}


.services__card16 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Cee-jay.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}

.services__card17 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Kassandra (SPA).jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}
.services__card18 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Jelyn.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
     
}
.services__card19 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Pinky (STVEP).jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;

}
.services__card20 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7- Chiene.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
}
.services__card21 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Hiden.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
}
.services__card22 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(24, 7, 147, 0.6) 100%),
    url('images/7-Jimuel (ICT).jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    padding: 3rem;
}

/* .services__card:nth-child(2) {
background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(255, 255, 255, 0.6) 100%),
    url('images/pic2.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child() {
background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%,
     rgba(255, 255, 255, 0.6) 100%),
    url('images/pic3.jpg');
    background-size:cover ;
    position: relative;
    color: #fff;
    background-size: cover;
    position: relative;
    color: #fff;
} */



.services__card h1{
    font-size: 4rem;
    color: #fff;
}



.services__card p {
    position: absolute;
    top: 400px;
    left: 50px;

}

.services__card1 button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #3350a8;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card2 button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #3350a8;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card3 button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #3350a8;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card4 button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #3350a8;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card button a{
    text-decoration: none;
    color: #fff;
}

.services__card:hover {
    transform:scale(1.057) ;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.phone{
    align-items: end;
    gap: 0.3rem;
}

/* SERVICES - TEAM */
.team{
    background-image: linear-gradient(to top, rgb(25, 0, 165) 0%, rgb(113, 18, 196) 100%); 
}

.team h1 {
    color:#fff ;
}

@media screen and (max-width: 960px)  {
    
   
}

@media  screen and (max-width: 480px) {
    

    


}

/*  Footer Css */
.footer__container{
    background-color: rgb(104, 7, 208);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: color;
    align-items: center;
}

#footer__logo{
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    gap: 0.5rem;
}
    
.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--item{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 16px;
    text-align:left;
    width: 160;
    box-sizing: border-box;

}

.footer__link--item h2 {
    margin-bottom:16px;
}

.footer__link--item h2{
    color: #fff;
}

.footer__link--item a {
    color: #fff;
    text-decoration:none;
    margin-bottom: 0.5rem;
}

.footer__link--item a:hover{
    color: #fff;
    transform: 0.3 ease-out;
}

/* Social Items */

.social__icon--link {
    color:#fff;
    font-size:24px ;
}

.social_media {
    max-width:1000px;
    width:100%;
}

.social_media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:140px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #ffffff;
}

@media screen and (max-width: 820px){
    .footer__links {
        padding: 2rem;
    }
    
    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction:column;

    }
    
}
    
.footer__link--item{
    margin: 2rem;
    align-items: center;
}

.cred{
    color: #fff;
}


/* search */


data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-image: linear-gradient(to top, rgb(25, 0, 165) 0%, rgb(113, 18, 196) 100%);
  font-family: Arial, sans-serif;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  background: #222;
  border-radius: 50px;
  padding: 8px;
  transition: all 0.3s ease;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
  padding: 10px 15px;
  width: 150px;
  transition: all 0.3s ease;
}

.search-box button {
  background: #6c47ff;
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect */
.search-box:hover {
  background: #333;
  box-shadow: 0 0 10px #c009e1;
}

.search-box:hover input {
  width: 250px;
}

.search-box button:hover {
  background: #a214bb;
}

.contact{
    background-color: #fff;
}



/* PICTURE SA ROOM*/

.picroom{
    color:#3064e8
}

